.markdown-body{
    background: transparent !important ;
}
.markdown-body pre{
    padding: 0 !important;
    background: transparent !important ;
}
.markdown-body ul, li {
    list-style: disc !important;
}