@import './reset.css';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import '@src/styles/github-markdown-override.css';

:root {
    /* 어두운 계열 */
    --dark:#0E1115;
    --dark-light:#101318;
    --dark-light2:#181A20;
    --gray:#7E828B;
    /* 밝은, 강조색 */
    --white: #E2E4E9;
    --blue:#38BDF8;
    --red:#DD364D;

    /* easing */
    --easing:cubic-bezier(0.16, 1, 0.3, 1);

    /* size */
    --main-width: 1032px;
    --main-padding: 16px;

    /* break point */
    --mobile-width: 1232px;

}

html,body,#__next{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Pretendard', sans-serif;
    color: var(--white);
    background-color: var(--dark);
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 4px;
}


